#logo Crysto-Crypto-Charity

#linkWraps
	// there is JS code that will show the corresponding panel to the clicked navigation div.
	// ie: clicking <div class="nav">HOME</div> will show panel #homePanel
	// this code is in layout.jade
	.nav#donorLink DONOR
	.nav#charityLink CHARITY
	.nav#acceptorLink ACCEPTOR
